@model List<ProductModel>
<div class="content">
   
</div>

<br />
<br />
@if (Model != null)
{
    <div class="content">
        <div class="card">
            <div class="card-header">
               
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Name
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->


    </div>
}

<script type="text/javascript">
    function selectedFirm(){
        document.getElementById("ShortCode").value = "";
        document.getElementById("PerNr").value = "";
        var firmNr = document.getElementById("FirmNr").value;

        var settings = {
            "url": '@Url.Action("GetFirmList","Item")',
            "method": "Get"
        };

        $.ajax(settings).done(function (response){
        var res = [];
        res = response;

        var fData = res.filter(x=>x.code == firmNr);
        if(fData.length>0){
                document.getElementById("ShortCode").value = fData[0].shortCode;
                document.getElementById("PerNr").value = fData[0].lPerNr;
        }
        });
    }

</script>